@charset "UTF-8";
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /* font-family: "Lato", sans-serif; */
  height: 100%;
  width: 100%;
  /* line-height: 30px;
  font-size: 20px; */
  /* color: #1e1744; */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  /* color: #292929; */
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0 auto;
  max-width: 1512px;
}

@font-face {
  font-family: Poppins;
  src: url(Poppins/);
}
body {
  font: 100% Poppins;
  background-color: rgb(26, 26, 26);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78px;
}
.header__sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 748px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.txt__p {
  font-size: 90px;
  margin: 0px 10px;
}
.nav {
  padding: 0px 40px;
}
.nav__h2 {
  color: white;
  font-size: 30px;
}
.nav__h2_color {
  color: black;
}
.nav__a {
  color: white;
  padding: 0px 5px;
}
.nav__button {
  background-color: white;
  width: 80px;
  height: 30px;
  opacity: 0.5;
  border-radius: 15px;
}

.sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(231, 231, 231);
}
.sec__container {
  display: grid;
  height: 400px;
  width: 350px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-gap: 15px;
}
.sec__button {
  width: 200px;
  height: 60px;
  background-color: black;
  font-size: 20px;
  color: white;
  opacity: 0.5;
}

.el1__el1-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background: url("../img/pic1.png") center/cover no-repeat;
}
.el1__el1-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  background: url("../img/pic2.png") center/cover no-repeat;
}
.el1__el1-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background: url("../img/pic3.png") center/cover no-repeat;
}

.el2__el2-1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background: url("../img/pic1.png") center/cover no-repeat;
}
.el2__el2-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  background: url("../img/pic2.png") center/cover no-repeat;
}
.el2__el2-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background: url("../img/pic3.png") center/cover no-repeat;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__p {
  color: white;
}
.section__h2 {
  color: white;
  font-size: 35px;
}
.section__containerhard {
  display: grid;
  padding: 30px 60px;
  height: 1700px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.hard__el-1 {
  background: url("../img/pic4.png") center/cover no-repeat;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.hard__el-2 {
  background: url("../img/pic5.png") center/cover no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.hard__el-3 {
  background: url("../img/pic6.png") center/cover no-repeat;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.hard__el-4 {
  background: url("../img/pic7.png") center/cover no-repeat;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
.hard__el-5 {
  background: url("../img/pic8.png") center/cover no-repeat;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}
.hard__el-6 {
  background: url("../img/pic9.png") center/cover no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}
.hard__el-7 {
  background: url("../img/pic10.png") center/cover no-repeat;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}
.hard__el-8 {
  background: url("../img/pic11.png") center/cover no-repeat;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}
.hard__el-9 {
  background: url("../img/pic12.png") center/cover no-repeat;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 7;
}
.hard__el-10 {
  background: url("../img/pic13.png") center/cover no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 8;
}
.hard__el-11 {
  background: url("../img/pic14.png") center/cover no-repeat;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}
.hard__el-12 {
  background: url("../img/pic15.png") center/cover no-repeat;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 8;
}
.hard__el-13 {
  background: url("../img/pic16.png") center/cover no-repeat;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 9;
}
.hard__el-14 {
  background: url("../img/pic17.png") center/cover no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 10;
}
.hard__el-15 {
  background: url("../img/pic18.png") center/cover no-repeat;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 9;
}
.hard__el-16 {
  background: url("../img/pic19.png") center/cover no-repeat;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 10;
}

.footer {
  padding: 70px 0px;
  background-color: rgb(231, 231, 231);
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__part1 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__part2 {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.second__a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}
.second__a_bold {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

@media (max-width: 1024px) {
  .sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec__container {
    margin: 40px;
  }
  .el1 {
    display: none;
  }
  .section__containerhard {
    display: grid;
    padding: 30px 60px;
    height: 1200px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    height: 90px;
  }
  .header__sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 748px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section__containerhard {
    display: grid;
    padding: 30px;
    height: 1700px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  .hard__el-1 {
    background: url("../img/pic4.png") center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .hard__el-2 {
    background: url("../img/pic5.png") center/cover no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .hard__el-3 {
    display: none;
  }
  .hard__el-4 {
    display: none;
  }
  .hard__el-5 {
    background: url("../img/pic8.png") center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .hard__el-6 {
    background: url("../img/pic9.png") center/cover no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  .hard__el-7 {
    display: none;
  }
  .hard__el-8 {
    display: none;
  }
  .hard__el-9 {
    background: url("../img/pic12.png") center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .hard__el-10 {
    background: url("../img/pic13.png") center/cover no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
  }
  .hard__el-11 {
    display: none;
  }
  .hard__el-12 {
    display: none;
  }
  .hard__el-13 {
    background: url("../img/pic16.png") center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 9;
  }
  .hard__el-14 {
    background: url("../img/pic17.png") center/cover no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 10;
  }
  .hard__el-15 {
    display: none;
  }
  .hard__el-16 {
    display: none;
  }
}
@media (max-width: 500px) {
  .header__nav {
    padding: 10px;
  }
  .nav__button {
    display: none;
  }
  .sec__container {
    height: 300px;
    width: 250px;
    margin: 20px 0px;
  }
  .section__containerhard {
    padding: 15px;
    height: 1300px;
  }
  .footer__part2 {
    display: none;
  }
}
@media (max-width: 320px) {
  .section__containerhard {
    padding: 15px;
    height: 1000px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }
}